<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaocaiyidie">


    //获取用户相册图片权限
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.miui.whetstone.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    // 腾讯直播配置权限
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/theme_icon_three"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lemon"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiaoCaiYiDie">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <activity
            android:label="搜索"
            android:name=".SearchActivity" />

        <activity
            android:label="设置"
            android:name=".SettingActivity" />

        <activity
            android:label="关注"
            android:name=".AttentionActivity"/>

        <activity
            android:label="粉丝"
            android:name=".FansActivity"/>

        <activity
            android:label="赞和收藏"
            android:name=".StarActivity"/>

        <activity
            android:label="动态"
            android:name=".TrendsActivity"/>

        <activity
            android:label="新建"
            android:name=".RecipeAddActivity" />
        
        <activity
            android:label="新建菜谱"
            android:name=".AddRecipeActiviey"/>

        <activity
            android:label="新建动态"
            android:name=".AddTrendsActivity"/>

        <activity
            android:label="菜谱详情页面"
            android:name=".RecipeDeatils"/>

        <activity
            android:label="登录"
            android:name=".Login"/>


    </application>

</manifest>