<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.appdemo">

<application
    android:allowBackup="true"
    android:icon="@drawable/main"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".loginORregisterActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".MainActivity" />

    <activity
        android:name="com.example.appdemo.MainActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.loginActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.MaindoingActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.registerActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.VegetablesTypeActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.doingActivity"
        android:label="@string/app_name"
        >

    </activity>
    <activity
        android:name="com.example.appdemo.findpwdActivity"
        android:label="@string/app_name"
        >

    </activity>

    <activity
        android:name="com.example.appdemo.repwdActivity"
        android:label="@string/app_name"
        >

    </activity>
</application>

</manifest>